@model EmployeesManagement.Models.LeaveApplication

@{
    ViewData["Title"] = "Approve Leave";
}

<h1>Approve Leave Application Details</h1>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Basic Information</h3>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Employee)</th>
                    <td>@Html.DisplayFor(model => model.Employee.FullName)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.NoOfDays)</th>
                    <td>@Html.DisplayFor(model => model.NoOfDays)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.StartDate)</th>
                    <td>@Html.DisplayFor(model => model.StartDate)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.EndDate)</th>
                    <td>@Html.DisplayFor(model => model.EndDate)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Duration)</th>
                    <td>@Html.DisplayFor(model => model.Duration.Description)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.LeaveType)</th>
                    <td>@Html.DisplayFor(model => model.LeaveType.Name)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Attachment)</th>
                    <td>@Html.DisplayFor(model => model.Attachment)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <td>@Html.DisplayFor(model => model.Description)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                    <td>@Html.DisplayFor(model => model.Status.Description)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header">
        <h4 class="card-title">Audit Information</h4>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ApprovedById)</th>
                    <td>@Html.DisplayFor(model => model.ApprovedById)</td>
                    <th>@Html.DisplayNameFor(model => model.ApprovedOn)</th>
                    <td>@Html.DisplayFor(model => model.ApprovedOn)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.CreatedById)</th>
                    <td>@Html.DisplayFor(model => model.CreatedById)</td>
                    <th>@Html.DisplayNameFor(model => model.CreatedOn)</th>
                    <td>@Html.DisplayFor(model => model.CreatedOn)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ModifiedById)</th>
                    <td>@Html.DisplayFor(model => model.ModifiedById)</td>
                    <th>@Html.DisplayNameFor(model => model.ModifiedOn)</th>
                    <td>@Html.DisplayFor(model => model.ModifiedOn)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="mt-3 pb-2">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>