@model IEnumerable<EmployeesManagement.Models.LeaveApplication>

@{
    ViewData["Title"] = "Index";
}

<h1>Leave Applications List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus mr-1"></i>Add New Leave Application</a>
</p>
<div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attachment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Edit
            </th>
            <th>
                View
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attachment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary mx-2"><i class="fa fa-pencil mr-2"></i> Edit</a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning mx-2"><i class="fa fa-eye mr-2"></i> View</a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-2"><i class="fa fa-trash mr-2"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>