@model IEnumerable<EmployeesManagement.Models.LeaveApplication>

@{
    ViewData["Title"] = "Index";
}

<h1>Leave Applications List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus mr-1"></i>Add New Leave Application</a>
</p>
<div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attachment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
					@Html.DisplayName("Actions")
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attachment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Description)
            </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-@item.Id" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-cogs"></i> Actions <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton-@item.Id">
                                <li>
                                    <a class="dropdown-item" asp-action="Approve" asp-route-id="@item.Id">
                                        <i class="fa fa-check text-success"></i> Approve
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">
                                        <i class="fa fa-pencil text-primary"></i> Edit
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">
                                        <i class="fa fa-eye text-warning"></i> View
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">
                                        <i class="fa fa-trash text-danger"></i> Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
        </tr>
}
    </tbody>
</table>
</div>